<h1>Blogs</h1>
<p>Once <a href="/login">logged in</a>, click on the blog to add comments.</p>

<% if(locals.isAuthenticated) { %>
  <a href="/blogs/new" class="btn btn-primary">Add</a>
<% } %>

<% blogs.forEach((blog) => { %>
  <div class="index">
    <a href="/blogs/<%= blog.id %>">
      <img src="<%= blog.image %>" alt="<%= blog.dish %>">
      <h2 class="index"><%= blog.dish %></h2>
      <p class="index">
        <%= blog.username %> <br>
        <%= blog.description %><br>
      </p>

      <p>
        <% while(blog.stars--) { %> &star; <% } %>
      </p>
    </a>
  </div>
<% }) %>
