
<div>
  <img src="<%= blog.image %>" alt="<%= blog.dish %>">
  <h2 class="show"><%= blog.dish %></h2>
  <p class="show">
    <p><%= blog.createdBy.email %> <p>
    <p><%= blog.description %></p>
    <p><%= blog.recipie %></p>

  </p>

  <p class="show">
    <% while(blog.stars--) { %> &star; <% } %>
  </p>


<%# //-------------------comments------------------------%>
  <% if(locals.isAuthenticated) { %>
    <section>
      <h4>Leave a comment</h4>

      <form method="POST" action="/blogs/<%= blog.id %>/comments">
        <textarea name="content" id="content" placeholder="Comment"></textarea>
        <button class="button">Leave a comment</button>
      </form>
    </section>
  <% } %>

<%# -----------------editing blog---------------------------%>

  <% if(locals.isAuthenticated) { %>
  <section>
    <a href="/blogs/<%= blog.id %>/edit">Edit <%= blog.dish %> Blog</a>
  </section>
  <% } %>
</div>


<%# ---------------------deleting blog----------------%>
<% if(locals.isAuthenticated) { %>
  <form method="POST" action="/blogs/<%= blog.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger">Delete <%= blog.dish %> Blog</button>
  </form>
<% } %>
