<div>
  <img src="<%= blog.image %>" alt="<%= blog.dish %>">
  <h2 class="show"><%= blog.dish %></h2>
  <p class="show">
    <p><%= blog.createdBy.username %> <p>
    <p><%= blog.description %></p>
    <p><%= blog.recipie %></p>

<button type="button" name="generate"></button>
<div class="recipieDiv"></div>
  </p>

  <p class="show">
    <% while(blog.stars--) { %> &star; <% } %>
  </p>
