<h1>Rate My Bake Users</h1>

<% if(locals.isAuthenticated) { %>

<% users.forEach((user) => { %>
  <div class="index">

    <a href="/users/<%= user.id %>">
      <img src="<%= user.profilePic %>" alt="<%= user.username %>">
      <img src="<%= user.image %>" alt="<%= user.username %>">

      <h2 class="index"><%= user.username %></h2>
    </a>

  </div>
<% }) %>
<% } %>
