<img id="profilePic" src="<%= user.image %>">
<h1><%= user.username %></h1>
<% if(locals.isAuthenticated) { %>

    <div class="dishDiv">
    <h2>Dishs</h2>
    <% blogs.forEach((blog) => { %>
    <a href="/blogs/<%= blog.id %>">
    <img src="<%= blog.imageSRC %>" alt="<%= blog.dish %>">
    <h2><%= blog.dish %></h2>
    </a>

    <% }) %>
  </div>
    <% } %>

<p>Got a blog to add? click <a class="underlined" href="/blogs/new">here</a> to add one now</p>
