<h1>show</h1>

<%= user.username %>

<% if(locals.isAuthenticated) { %>

  <div class="index">
    <a href="/users/<%= user.id %>">
      <img src="<%= user.profilePic %>" alt="<%= user.username %>">
    </a>

  </div>
  <div class="dishDiv">
    <h2>Your Dishs</h2>
          <p>If you have not added any blogs click <a class="nav-link" href="/blogs/new">here</a> to add one now.</p>
      <% blogs.forEach((blog) => { %>
          <a href="/blogs/<%= blog.id %>">
          <img src="<%= blog.image %>" alt="<%= blog.dish %>">
          <h2><%= blog.dish %></h2>
          </a>


      <% }) %>
  </div>

<% } %>
