<img id="profilePic" src="<%= user.image %>">
<h1><%= user.username %></h1>
<% if(locals.isAuthenticated) { %>

    <div class="dishDiv">
    <h2>Dishs</h2>
            <div class="row">
    <% blogs.forEach((blog) => { %>

    <div class="col-lg-4 col-md-6">

      <a href="/blogs/<%= blog.id %>">
      <img src="<%= blog.imageSRC %>" class="img-fluid img-thumbnail" alt="<%= blog.dish %>">
      <h2><%= blog.dish %></h2>
      </a>


  </div>


    <% }) %>
  </div>
  </div>
    <% } %>

<p>Got a blog to add? click <a class="underlined" href="/blogs/new">here</a> to add one now</p>
